@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/buttons.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #f5f5f5, #e0e0e0);
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button:focus {
  outline: none;
}

.no-scroll {
  overflow: hidden;
}

.swiper-modal .swiper-button-next,
.swiper-modal .swiper-button-prev {
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.swiper-modal .swiper-button-prev {
  left: 10px;
}

.swiper-modal .swiper-button-next {
  right: 10px;
}
